// 各种变量以及可配置设置

/* 系统颜色 */
$_color_primary: #1566d2 !default; // 主题色
$_color_link: #4285f4 !default; // 链接 可操作
$_color_system: #cdd9e6 !default; // 系统控件
$_color_appBg: #e9ecf3 !default; // 背景 区域分隔
$_color_divider: #ebf3fe !default; // 列头背景 分隔线

$_color_important: #333333 !default;
$_color_secondary: #888888 !default;
$_color_white: white !default;
$_color_back: #333 !default;
$_color_white_1: rgba(255, 255, 255, 0.65) !default;
$_color_black: #000000 !default;
$_color_black_1: rgba(0, 0, 0, 0.65) !default;
$_color_border: #f0f0f0 !default;
$_color_check_tab: #e6f7ff !default;

/* 系统字体 */
$_font_main: 13px !default;
$_font_secondary: 12px !default;

/* 系统间距 */
$_moduleMargin: 10px !default;
$_modulePadding: 10px !default;
$_elementMargin: 10px !default;

/* 系统常用宽高 */
$_headerHeight: 40px !default; // 头部高度
$_tabsHeight: 30px !default; // 页签头部高度
$_contentFooterHeight: 40px !default; // 按钮底部高度
$_footerHeight: 24px !default; // 底部高度

// 字体大小
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default; // 20px
$font-size-sm: $font-size-base * 0.75 !default; // 12px
$font-size-root: null !default;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
