.hover_window {
  background: white;
  position: fixed;
  z-index: 9999;
  box-shadow: 2px 2px 10px #666;
  border-radius: 4px;
  .anticon-close {
    float: right;
    padding: 10px;
    cursor: pointer;
  }
  .hover_children_div {
    margin-top: 25px;
    padding: 10px;
  }
}
